.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.body{
  background-color: #4f535c;
  padding-bottom: 50px;
}

.struct{
  width: 404px;
  margin: 100px auto;
  padding: 30px;
}

.result{
  padding: 20px;
  font-size: 60px;
  width: 340px;
  height: 100px;
  text-align: right;
  border-radius: 20px;
  border: 3px solid #61dafb;
margin-bottom: 20px;
}

#dark .result{
  background-color: #4f535c;
  color: antiquewhite;
}

#light .result{
  background-color: antiquewhite;
  color: black;
}

.button{
  height: 80px;
  width: 80px;
  font-size: 30px;
  border-radius: 20px;
  border: 3px solid #61dafb;
  margin: 3px;
}
.button1{
  height: 80px;
  width: 160px;
  font-size: 30px;
  border-radius: 20px;
  border: 3px solid #61dafb;
  margin: 6px;

}


#light .button{
  background-color: aliceblue;
  color: black;
}

#dark .button{
  background-color: #4f535c;
  color: antiquewhite;
}

#light .button1{
  background-color: aliceblue;
  color: black;
}

#dark .button1{
  background-color: #4f535c;
  color: antiquewhite;
}



#light{
  color: #282c34;
  background-color: blanchedalmond;
  

}

#dark{
  color: blanchedalmond;
  background-color: #282c34;

}

.switch{
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  margin-bottom: -80px;
  margin-left: 600px;
  padding: 20px;
}

.switch h5 {
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
